@import '../../../shared/scss/globals';

.list-heroes-not-found {
    h2 {
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    img {
        margin-bottom: 25px;
    }
}