@import '../../../shared/scss/globals';

header {
    background-color: $catalinaBlue;
    height: 60px;
    padding: 20px 42px;
    margin-bottom: 34px;
    @include flex('row');
    justify-content: space-between;

    .header-content {
        @include flex('row');
        justify-content: center;

        a {
            color: $white;
            text-decoration: none;
            font-size: 2em;
            font-weight: 600;
        }
    }

    p {
        color: $white;
        font-size: 2em;
        padding-left: 10px;
    }

    @media (max-width: $screen-sm-size) {
        padding: 12px 42px;
        height: 20px;
        margin-bottom: 12px;

        .header-content {
            a {
                font-size: 16px;
            }
        }

        p {
            font-size: 16px;
        }

        .candidate {
            display: none;
        }
    }
}