<div class="hero-card">
    <div class="hero-card-header">
        <p>Peresonagem</p>
        <p>Séries</p>
        <p>Eventos</p>
    </div>
    <div class="hero-card-content">
        <div class="hero-card-content-info">
            <img src="../../../../assets/images/footer.png" alt="">
            <span>Homem aranha</span>
        </div>
        <div class="hero-card-content-series">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div class="hero-card-content-events">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>
</div>