<div class="hero-card">
    <div class="hero-card-header">
        <p>Peresonagem</p>
        <p>Séries</p>
        <p>Eventos</p>
    </div>
    <div class="hero-card-content">
        <div class="hero-card-content-info">
            <img [src]="getThumbnail(hero.thumbnail.path)" alt="">
            <span> {{ hero.name }} </span>
        </div>
        <div class="hero-card-content-series">
            <ul *ngIf="hero.series.items.length > 0; else noteInfformedSerie">
                <li *ngFor="let serie of hero.series.items.slice(0, 3)"> 
                    {{ serie.name ? serie.name : 'Não informado' }}
                </li>
            </ul>
            <ng-template #noteInfformedSerie>
                <span> Não informado </span>
            </ng-template>
        </div>
        <div class="hero-card-content-events">
            <ul *ngIf="hero.events.items.length > 0; else notInformmedEvent">
                <li *ngFor="let event of hero.events.items.slice(0, 3)"> 
                    {{ event.name }}
                </li>
            </ul>
            <ng-template #notInformmedEvent>
                <span> Não informado </span>
            </ng-template>
        </div>
    </div>
</div>

<div class="hero-card-mobile">
    <div class="hero-card-mobile-content">
        <div class="hero-card-mobile-content-photo">
            <img [src]="getThumbnail(hero.thumbnail.path)" alt="">
        </div>
        <span> {{ hero.name }} </span>
    </div>
</div>