@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400&display=swap');
@import './app/shared/scss/globals';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    color: $shark;
    margin: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    
    li {
        list-style: none;
        font-family: 'Encode Sans Semi Condensed', sans-serif;
        margin-bottom: 3px;
    }
}